{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <!-- Grid Form -->
    <div class="grid-box" id="form-grid">
        
        <!-- Form header -->
        <div class="form-header">
            <h3>{{ page_name }}</h3>  
        </div>

        <!-- Form body -->
        <div class="form-body">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="form-button action-button" type="submit" value="Submit">{% translate "Submit" %}</button>
            </form>
        </div>

    </div>

{% endblock %}