{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <div id="top-panel">
        <!-- Model modify panel -->
        <div class="grid-box margin-half" id="model-panel">
            <div class="action-group">
                <img class="action-button click-animation" src="{% static 'ico/main/grid.svg' %}" alt="Ico">
                <img class="action-button click-animation" src="{% static 'ico/main/list.svg' %}" alt="Ico">
            </div>
            <div class="action-group">
                <img class="action-button click-animation" src="{% static 'ico/main/add_many.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/add.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/edit.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/download.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/delete.svg' %}">
            </div>
        </div>
    </div>

    <!-- Grid Form -->
    <div class="grid-box" id="form-grid">
        
        <!-- Form header -->
        <div class="form-header">
            <h3>Add {{ model_name }} object</h3>  
        </div>

        <!-- Form body -->
        <div class="form-body">
            <form method="post">{% csrf_token %}

                <div class="form-item">
                    <label for="name">{% translate "Inventory" %}</label>
                    <input id="name" type="text">
                </div>

                <div class="form-item">
                    <label for="xxx"></label>
                    <input id="xxx" type="text">
                </div>

                <div class="form-item">
                    <label for="xxx"></label>
                    <input id="xxx" type="text">
                </div>

                <button class="action-button" type="submit">Submit</button>
            </form>
        </div>

    </div>

{% endblock %}