{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <!-- Grid container for object items -->
    <div id="object-grid">
                            
        <!-- Single object item -->
        <div class="object-item">
            <div class="object-subitem grid-box">

                <!-- Single model item header -->
                <div class="object-item-header ">
                    <h4>Basic information</h4>
                </div>

                <!-- Single model item body -->
                <div class="object-item-body">
                    <table>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!-- Single object item -->
        <div class="object-item">
            <div class="object-subitem grid-box">

                <!-- Single model item header -->
                <div class="object-item-header ">
                    <h4>Basic information</h4>
                </div>

                <!-- Single model item body -->
                <div class="object-item-body">
                    <table>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!-- Single object item -->
        <div class="object-item">
            <div class="object-subitem grid-box">

                <!-- Single model item header -->
                <div class="object-item-header ">
                    <h4>Basic information</h4>
                </div>

                <!-- Single model item body -->
                <div class="object-item-body">
                    <table>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!-- Single object item -->
        <div class="object-item">
            <div class="object-subitem grid-box">

                <!-- Single model item header -->
                <div class="object-item-header ">
                    <h4>Basic information</h4>
                </div>

                <!-- Single model item body -->
                <div class="object-item-body">
                    <table>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!-- Single object item -->
        <div class="object-item">
            <div class="object-subitem grid-box">

                <!-- Single model item header -->
                <div class="object-item-header ">
                    <h4>Basic information</h4>
                </div>

                <!-- Single model item body -->
                <div class="object-item-body">
                    <table>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!-- Single object item -->
        <div class="object-item">
            <div class="object-subitem grid-box">

                <!-- Single model item header -->
                <div class="object-item-header ">
                    <h4>Basic information</h4>
                </div>

                <!-- Single model item body -->
                <div class="object-item-body">
                    <table>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Value</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>
    
{% endblock %}