{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <!-- Grid container for models -->
    <div id="model-grid">
        
        {% for object in objects %}
            <!-- Single model item -->
            <div class="model-item">
                <div class="model-subitem grid-box">

                    <!-- Single model item header -->
                    <div class="model-item-header">
                        <img class="box-header-svg" src="/{{ object.get_ico_display }}" alt="switch">
                        <div>
                            <h3><a href="{{ main_path }}/one/{{ object.pk }}">{{ object.name }}</a></h3>
                            <q>{% translate "Created" %}: {{ object.created }}</q></br>
                            <q>{% translate "Updated" %}: {{ object.updated }}</q>
                        </div>
                    </div>

                    <!-- Single model item body -->
                    <div class="model-item-body">
                        <table>
                            <tr>
                                <th>Hostname:</th>
                                <td>{{ object.hostname }}</td>
                            </tr>
                            <tr>
                                <th>Device type:</th>
                                <td>{{ object.get_device_type_display }}</td>
                            </tr>
                            <tr>
                                <th>Credential:</th>
                                <td>{{ object.credential }}</td>
                            </tr>
                            <tr>
                                <th>SSH port:</th>
                                <td>{{ object.ssh_port }}</td>
                            </tr>
                            <tr>
                                <th>HTTPS port:</th>
                                <td>{{ object.https_port }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>
    
{% endblock %}