{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <div id="top-panel">
        <!-- Model modify panel -->
        <div class="grid-box margin-half" id="model-panel">
            <div class="action-group">
                <img class="action-button click-animation" src="{% static 'ico/main/grid.svg' %}" alt="Ico">
                <img class="action-button click-animation" src="{% static 'ico/main/list.svg' %}" alt="Ico">
            </div>
            <div class="action-group">
                <img class="action-button click-animation" src="{% static 'ico/main/add_many.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/add.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/edit.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/download.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/delete.svg' %}">
            </div>
        </div>
    </div>

    <!-- Grid container for object items -->
    <div id="object-grid">
                        
        <!-- Single object item -->
        <div class="object-item">
            <div class="object-subitem grid-box">

                <!-- Single model item header -->
                <div class="object-item-header">
                    
                </div>

                <!-- Single model item body -->
                <div class="object-item-body">
                    
                </div>

            </div>
        </div>

    </div>

{% endblock %}