{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <div id="top-panel">
        <!-- Model modify panel -->
        <div class="grid-box margin-half" id="model-panel">
            <div class="action-group">
                <img class="action-button click-animation" src="{% static 'ico/main/grid.svg' %}" alt="Ico">
                <img class="action-button click-animation" src="{% static 'ico/main/list.svg' %}" alt="Ico">
            </div>
            <div class="action-group">
                <img class="action-button click-animation" src="{% static 'ico/main/add_many.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/add.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/edit.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/download.svg' %}">
                <img class="action-button click-animation" src="{% static 'ico/main/delete.svg' %}">
            </div>
        </div>

        <!-- Search panel -->
        <div class="grid-box margin-half margin-boundary" id="model-search">
            <input class="input-field search" type="search" name="name">
            <div class="button action-button click-animation">
                <img src="{% static 'ico/main/search.svg' %}" alt="Search">
            </div>
            <div class="button action-button click-animation">
                <img src="{% static 'ico/main/filter.svg' %}" alt="Filter">
            </div>
        </div>
    </div>

    <!-- Grid container for models -->
    <div id="model-grid">
                        
        <!-- Single model item -->
        <div class="model-item">
            <div class="model-subitem grid-box">

                <!-- Single model item header -->
                <div class="model-item-header">
                    <img class="box-header-svg" src="{% static 'ico/model/device/switch.svg' %}" alt="switch">
                    <div>
                        <h3><a href="#">RKKR-LAB-RW-1</a></h3>
                        <q>Created: Nov. 1, 2021, 09:03 p.m</q></br>
                        <q>Updated: Nov. 10, 2021, 10:52 p.m</q>
                    </div>
                </div>

                <!-- Single model item body -->
                <div class="model-item-body">
                    <table>
                        <tr>
                            <th>{% translate "English" %}:</th>
                            <td>192.158.1.1</td>
                        </tr>
                        <tr>
                            <th>{% translate "German" %}:</th>
                            <td>Cisco-IOS XE</td>
                        </tr>
                        <tr>
                            <th>{% translate "Polish" %}:</th>
                            <td>17.1.2</td>
                        </tr>
                        <tr>
                            <th>Platform:</th>
                            <td>C9300</td>
                        </tr>
                        <tr>
                            <th>Uptime:</th>
                            <td>12d 1h 32m 23s</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>

{% endblock %}