{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load tags %}

{% block content %}

    <!-- Grid container for models -->
    <div id="model-grid">
        
        {% for object in objects %}
            <!-- Single model item -->
            <div class="model-item">
                <div class="model-subitem grid-box">

                    <!-- Box activity -->
                    <div class="ball-box">
                        <!-- Active status -->
                        {% if object.status == 1 %}
                        <div class="ball ball-active" aria-label="Active"></div>
                        {% else %}
                        <div class="ball ball-inactive" aria-label="Active"></div>
                        {% endif %}
                        <!-- SSH status -->
                        {% if object.ssh_status == True %}
                            <div class="ball ball-active" aria-label="SSH"></div>
                        {% else %}
                            <div class="ball ball-inactive" aria-label="SSH"></div>
                        {% endif %}
                        <!-- HTTPS status -->
                        {% if object.https_status == True %}
                        <div class="ball ball-active" aria-label="HTTPS"></div>
                        {% else %}
                        <div class="ball ball-inactive" aria-label="HTTPS"></div>
                        {% endif %}
                    </div>

                    <!-- Single model item header -->
                    <div class="model-item-header">
                        <img class="box-header-svg" src="/{{ object.get_ico_display }}" alt="switch">
                        <div>
                            <h3><a href="/{{ LANGUAGE_CODE }}/{{ panel.application }}/{{ panel.model }}/one/{{ object.pk }}">{{ object.name }}</a></h3>
                            <q>{% translate "Created" %}: {{ object.created }}</q></br>
                            <q>{% translate "Updated" %}: {{ object.updated }}</q>
                        </div>
                    </div>

                    <!-- Single model item body -->
                    <div class="model-item-body">
                        <table>
                            {% for row in display %}
                                <tr>
                                    <th>{{ row|title }}:</th>
                                    <td>{{ object|key_value:row }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>
    
{% endblock %}